.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


.top__deals__text{
    padding-top: 5rem;
    margin-bottom: 1.375rem;
    text-align: center;
    color: rgb(33, 37, 41);
    font-size: 30px;
    font-weight: 900;
}

.top__deals__content{
    max-width: 89%;
    margin: 0 auto;
}

.top__deals__box{
    border: 1px solid rgb(221, 221, 221);
    width: 215px;
    position: relative;
}

.top__deals__images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 1.875rem;
    user-select: none;
}

.top__deal__image{
    width: 100%;
}

.checked {
    color: orange;
  }

  .fa-star{
    background-color: white;
  }

  .top__deals__old__price{
   text-decoration: line-through !important;
   color: rgb(108, 117, 125);
   font-size: 1.125em;
  }

  .top__deals__new__price{
    color: rgb(36, 40, 40);
    font-weight: 700;
    font-size: 1.125em;
  }

  .top__deal__image__text{
    text-decoration: none;
    font-size: .875em;
    font-weight: 400;
    color: rgb(36, 40, 40);
    max-width: 90%;
    margin: 0 auto;
  }

  .top__deals__bottom__images{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .top__deals__box:hover .all__sale__time{
    display: none;
  }

  .top__deals__box:hover .yellow__box{
    display: block;
  }

  .star__and__price{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }


  /* @media only screen and (max-width: 940px) {
    .header__input{
        width: 470px;
    }
} */
