.search__box{
    width: 280px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: none;
    padding-bottom: 30px;
}

.search__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    margin: 0 auto;
    padding-top: 35px;
}

.special__search__input{
    border: 1px solid rgb(206, 212, 218);
    outline: none;
    height: 40px;
    width: 228px;
    margin: 15px 0 0 22px;
    padding-left: 10px;
}