:root {
    --swiper-theme-color: rgb(36, 40, 40);
}

.swiper__image{
    width: 100%;
}

.swiper-button-next{
    display: none;
    color: black;
}

.swiper-button-prev{
    display: none;
    color: black;
}

.left__photo:hover .swiper-button-next{
    display: block;
}

.left__photo:hover .swiper-button-prev{
    display: block;
}

.swiper-horizontal>.swiper-pagination-progressbar{
    left: 0;
    top: 570px;
}

@media only screen and (max-width: 600px) {
    .left__photo{
        width: 100% !important;
    }
}