:root {
    --swiper-theme-color: #242828;
}

.top_swiper{
    max-width: 1200px;
    padding-top: 1.875rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left__photo{
    width: 787px;
}
.swiper__image{
    width: 100%;
}

.swiper-button-next{
    display: none;
    color: black;
}

.swiper-button-prev{
    display: none;
    color: black;
}

.left__photo:hover .swiper-button-next{
    display: block;
}

.left__photo:hover .swiper-button-prev{
    display: block;
}

.swiper-horizontal>.swiper-pagination-progressbar{
    left: 0;
    top: 537px;
}
