.about__us__content{
    max-width: 1200px;
    margin: 0 auto;
}

.about__us__top{
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.fa-house{
    color: rgb(209, 146, 0);
}

.about__us__top__text>a :hover{
    color: rgb(143, 100, 0);
}

.about__us__line{
    text-decoration: underline black;
}