.top {
    max-width: 89%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
    word-wrap: break-word;

}

.top__section__text {
    max-width: 89%;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
}

.truck__icon__top__section{
    color: rgb(255, 182, 16);
    font-size: 30px;
    margin-right: 10px;
}

.top__section__text>h4 {
    margin: 0;
    margin-right: 10px;
}

.offer__until__box {
    background-color: rgb(255, 182, 16);
    border-radius: 50px;
    padding: 0.40625rem 1.875rem;
    margin-left: 10px;
    text-align: center;
}


@media only screen and (max-width: 1023px) {
    .top{
        max-width: 97%;
    }

    .top__section__text{
        max-width: 97%;
    }
}

@media only screen and (max-width: 600px) {
    .top{
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 410px) {
    .truck__icon__top__section{
       display: none;
    }
}