.top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top__section__text {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.fa-truck {
    color: rgb(255, 182, 16);
    font-size: 30px;
    margin-right: 10px;
}

.top__section__text>h4 {
    margin: 0;
    margin-right: 10px;
}

.offer__until__box {
    background-color: rgb(255, 182, 16);
    border-radius: 50px;
    padding: 0.40625rem 1.875rem;
    margin-left: 10px;
    text-align: center;
}


@media only screen and (max-width: 1024px) {


}