.gray__line{
    background-color: rgb(242, 242, 245);
    height: 380px;
    margin-top: 45px;
}

.gray__line>h4{
    padding-top:70px;
    margin-bottom: 2.125rem;
    text-align: center;
    color: rgb(33, 37, 41);
    font-size: 30px;
    font-weight: 900;
}

.shop__category__swiper{
    max-width: 1100px;
    margin: 0 auto;
}


.shop__category__text__swiper{
    color: black;
    text-align: center;
    padding-top: 15px;
}

.shop__category__images__swiper>a:hover .shop__category__text__swiper{
    color: rgb(210, 146, 0);
}

.shop__category__images__swiper>a>img{
    border-radius: 50%;
}