.dod__sale__box{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 13px;
    width: 40px;
    height: 20px;
    background-color: rgb(36, 40, 40);
  }
  
  .dod__box__text{
    font-weight: 900;
    font-size: .75em;
    color: black;
  }
  
  .dod__sale__box>span{
    color: rgb(255, 255, 255);
  }