.yellow__box{
    max-width: 180px;
    height: 35px;
    margin: 0 auto;
    background-color: rgb(255, 183, 15);
    position: absolute;
    top: 105px;
    left: 18px;
    display: none;
}

.menu__boxes{
    height: 100%;
    display: flex;
}

.box__menu{
    width: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box__menu:hover{
    background-color: rgb(33, 37, 41);
}

.box__menu:hover .box__menu__icon{
    color: white !important;
}





/* .menu__boxes>div>a>i:hover{
    color: white;
} */





.menu__boxes>div>a{
    color: black !important;
}