.forgotten__password__content{
    max-width: 1200px;
    margin: 0 auto;
}

.password__mail__input__zone{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgotten__password__left__right{
    display: flex;
    justify-content: space-between;
}

.password__mail__input__zone>input{
    height: 50px;
    width: 880px;
    outline: none;
    padding-left: 15px;
}

.password__back__btn{
    background-color: #242828;
    color: white;
    border: none;
    width: 70px;
    height: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.password__continue__btn{
    background-color: #ffb610;
    color: black;
    border: none;
    width: 100px;
    height: 40px;
}

.password__btn__zone{
    display: flex;
    justify-content: space-between;
}