.footer__alltext{
    display: flex;
    text-decoration: none;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(33, 33, 33);
}

.footer__alltext>div>p>a{
    color: rgb(119, 119, 119);
}

.footer__alltext>div>h6{
    color: white;
}

.footer__about{
    width: 380px;
    border-right: 1px solid rgb(33, 33, 33);
}

.footer__about>p{
    color: rgb(119, 119, 119);
    width: 350px;
}

.touch{
    text-align: left;
    width: 350px;
    margin-left: 30px;
}

.touch>p{
    color: rgb(119, 119, 119);
}

.footer__head{
    margin-bottom: 25px;
}

.my__account{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 220px;
    border-right: 1px solid rgb(33, 33, 33);
    margin-left: 50px;
}

.my__account__links{
    display: flex;
    flex-direction: column;
}

.my__account__links>a{
    color: rgb(119, 119, 119);

}

.my__account>div :hover{
    color: rgb(169, 117, 0);
}

.quick__links{
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: left;
    border-right: 1px solid rgb(33, 33, 33);
    margin-left: 50px;
}

.quick__links>div :hover{
    color: rgb(169, 117, 0);
}

.touch>p>i{
    padding-right: 10px;
}


@media only screen and (max-width: 1024px) {
    .footer__alltext{
        display: flex;
        flex-direction: column;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgb(33, 33, 33);
    }

    .footer__about{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgb(33, 33, 33);
        padding-bottom: 15px;
    }

    .footer__about>p{
        color: rgb(119, 119, 119);
        width: 100%;
    }

    .my__account{
        margin-top: 15px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(33, 33, 33);
        margin-left: 0;
        padding-bottom: 15px;
    }

    .quick__links{
        margin-top: 15px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(33, 33, 33);
        margin-left: 0;
        padding-bottom: 15px;
    }

    .my__account__links{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .touch{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
}





