.footer__bottom__text{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    padding-top: 1.875rem;
}

.footer__bottom__text>h6{
    color: white;
}

.footer__bottom__text>a>p{
    padding-left: 10px;
    color: rgb(119, 119, 119);
}

.footer__bottom__text :hover{
    color: rgb(247, 173, 0);
}