.arrival__yellow__box{
    max-width: 180px;
    height: 35px;
    margin: 0 auto;
    background-color: rgb(255, 183, 15);
    position: absolute;
    top: 143px;
    left: 45px;
    display: none;
}

.arrival__menu__boxes{
    height: 100%;
    display: flex;
}

.arrival__box__menu{
    width: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrival__box__menu:hover{
    background-color: rgb(33, 37, 41);
}

.arrival__box__menu:hover .arrival__menu__icon{
    color: white !important;
}

.arrival__menu__boxes>div>a{
    color: black !important;
}