*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.poco__logo{
    width: 172px;
    height: 57px;
    margin-left: 15px;
}

.fa-bars{
    font-size: 30px;
    cursor: pointer;
}

.hamburger__logo{
    display: flex;
    align-items: center;
}

header{
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.search__input{
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-left: 1px solid gray;
    padding: 0 0.9375rem;
    color: rgb(108, 117, 125);
}

form{
    padding: 0.1875rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 62.5rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    width: 500px;
    height: 45px;
}

.search__icon{
    font-size: .70em;
    border-radius: 62.5rem;
    border: none;
    color: #000;
    background-color: rgb(255, 182, 16);
    padding: 0.9375rem 0.9375rem;
    line-height: 1;
    cursor: pointer;
}

.fa-magnifying-glass{
    font-size: 15px;

}

.category{
    border: none;
    padding: 0 0.9375rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compare__wishlist{
    display: flex;
    flex-direction: column;
}

.compare__wishlist>div>a{
    text-decoration: none;
    color: rgb(108, 117, 125);

}

.bag{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.bag__shopping{
    font-size: 40px;

}
.price__text{
    justify-content: center;
    align-items: start;
    flex-direction: column;
    display: flex;
}
.price__text>span{
    color: rgb(255, 182, 16);
}

.price__text>p{
    word-break: keep-all;
    font-weight: bold;
    white-space: nowrap;
}
.header__dropdown__menu{
    width: 160px;
}
.header__dropdown__menu  .dropdown-item{
    white-space: pre-wrap;
    width: 150px;
}