.yellow__line {
    height: 60px;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    max-width: 1200px;
}

.btn__shop__category {
    background-color: rgb(36, 40, 40);
    border-radius: 0;
    height: 60px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.fa-circle-chevron-down {
    font-size: 20px;
}

.btn__shop__category::after {
    border: none;
}

.nav {
    margin-left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav>a {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 20px;
    color: black;
    font-size: 1.125em;
    font-weight: 600;
}

.nav>a:hover {
    color: white;
    background-color: rgb(36, 40, 40);
}

.dropdown__category .dropdown-item {
    white-space: pre-wrap;
    width: 298px;
}

.dropdown__category {
    border: 1px solid rgb(255, 182, 16);
    transition: ease .5s;
    border-top: none;
    transform: translate(0, 60px) !important;
    border-radius: 0;
}

.add__ons__btn{
    border: none;
    color: black;
    font-size: 1.125em;
    font-weight: 600;
}

.add__ons__drop{
    border: none;
}

.add__ons__btn {
    --bs-btn-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-hover-bg: none;
    font-size: 1.125em;
    font-weight: 600;
    padding: 0;
}

.dropdown__show{
    margin-top: 12px !important;
    padding-right: 50px !important;
}