.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.yellow__line__content {
    height: 60px;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    max-width: 1200px;
}

.btn__shop__category {
    background-color: rgb(36, 40, 40);
    border-radius: 0;
    height: 60px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.fa-circle-chevron-down {
    font-size: 20px;
}

.btn__shop__category::after {
    border: none;
}

.nav__text {
    margin-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav__text>a {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 20px;
    color: black;
    font-size: 1.125em;
    font-weight: 600;
}

.nav__text>a:hover {
    color: white;
    background-color: rgb(36, 40, 40);
}

.dropdown__category .dropdown-item {
    white-space: pre-wrap;
    width: 298px;
}

.dropdown__category {
    border: 1px solid rgb(255, 182, 16);
    transition: ease .5s;
    border-top: none;
    transform: translate(0, 60px) !important;
    border-radius: 0;
}

.add__ons__btn{
    border: none;
    color: black;
    font-size: 1.125em;
    font-weight: 600;
}

.add__ons__drop{
    border: none;
}

.add__ons__btn {
    --bs-btn-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-hover-bg: none;
    font-size: 18px !important;
    font-weight: 600;
    padding: 0;
}

.dropdown__show{
    margin-top: 12px !important;
    padding-right: 50px !important;
}


@media only screen and (max-width: 1024px) {
    .yellow__line__content {
        max-width: 89%;
    }

    .btn__shop__category{
        display: none;
    }
}