.latest__articles__content{
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.latest__articles__white__box{
    background-color: white;
    /* background-color: aqua; */
    width: 430px;
}

.latest__articles__white__box__content{
    max-width: 410px;
    margin: 0 auto;
    padding-top: 8px;
}

.latest__articles__image{
    width: 412px;
}

.from__blog__yellow__box{
    width: 4.7857em;
    height: 4.7857em;
    background-color: rgb(255, 182, 16);
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transform: translateY(-30px);
}

.latest__articles__comments_contain{
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    color: rgb(108, 117, 125);
}

.date__and__comment__contain{
    display: flex;
    max-width: 90%;
    align-items: start;
    margin: 0 auto;
}

.latest__articles__middle__text>a>span{
    color: rgb(0, 0, 0);
}

.from__blog__text{
    max-width: 90%;
    margin: 0 auto;
}

.latest__articles__middle__text{
    overflow: hidden;
    max-height: 3em;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
    width: 340px;
    margin-top: 15px;
}

.latest__articles__bottom__text{
    font-size: 14px;
    width: 365px;
    margin-top: 15px;
    padding-bottom: 25px;
}

.from__blog__border{
    background-color: rgb(108, 117, 125);
    height: 15px;
    width: 1px;
display: block;
}