.special__gray_bg {
    background-color: rgb(245, 245, 245);
}

.special__top {
    max-width: 1200px;
    margin: 0 auto;
}

.special__top__image {
    width: 1200px;
}

.special__top__text{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
}

.fa-house{
    color: rgb(209, 146, 0);
}

.about__us__top__text>a :hover{
    color: rgb(143, 100, 0);
}