.black__line{
    background-color: rgb(0, 0, 0);
    height: 580px;

}

.black__line__content{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 4.0625rem;

}

.footer__top{
    display: flex;
    padding-bottom: 4.0625rem;
    border-bottom: 1px solid rgb(33, 33, 33);
}

.footer__logo{
    width: 120px;
    height: 35px;
}

.newsletter{
    color: white;
}

.footer__input{
    width: 800px;
    position: relative;

}

.footer__search__input{
    width: 480px;
    height: 50px;
    background-color: rgb(38, 38, 38);
    outline: none;
    color: white;
    border: none;
    border-radius: 6.25rem;
}

.footer__btn{
    background-color: rgb(255, 182, 16);
    position: absolute;
    left: 395px;
    border: none;
    height: 50px;
    width: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer__pay>img{
    width: 120px;
}

.footer__alltext{
    display: flex;
    text-decoration: none;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(33, 33, 33);
}

.footer__alltext>div>p>a{
    color: rgb(119, 119, 119);
}

.footer__alltext>div>h6{
    color: white;
}

.footer__about{
    width: 380px;
    border-right: 1px solid rgb(33, 33, 33);

}

.footer__about>p{
    color: rgb(119, 119, 119);
    width: 350px;
}

.touch{
    text-align: center;
    width: 350px;

}

.touch>p{
    color: rgb(119, 119, 119);

}

.my__account{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border-right: 1px solid rgb(33, 33, 33);

}

.quick__links{
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
    border-right: 1px solid rgb(33, 33, 33);
}

.touch>p>i{
    padding-right: 10px;
}