.latest__products__contain>h3{
    text-align: center;
    font-size: 1.875em;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 1.375rem;
}

.latest__products__contain{
    max-width: 1200px;
    margin: 0 auto;
}