.special__rating__box{
    width: 280px;
    border-top: none;
    padding-bottom: 10px;

}

.special__rating___top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    margin: 0 auto;
    padding-top: 17px;
}

.rating__check{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.25);
}

.rating__selections{
    max-width: 230px;
    margin: 0 auto;
    padding-top: 35px;
}

.rating__choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating__choice__left{
    display: flex;
    align-items: center;
    gap: 15px;
}